.searchIn input {
    width: 500px;
    outline: none;
    border: none;
}

.searchIn {
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 7px 10px;
    align-items: center;
    border: 1px solid;
    border-radius: 3px;
    margin-left: auto;
}

.t-head {
    background-color: rgb(3, 154, 119);
    padding: 10px 15px;
    margin-bottom: 10px;
}