<div class="card-container">
    <!-- <a href="">
    <div class="row  gap-4 justify-content-center">
        <div class="shop-card" *ngFor="let data of fashion.slice(0, 5)">
            <div class="title">
                {{data.name}}
            </div>
            <div class="desc">
                {{data.brand}}
            </div>
            <div class="slider"  >
                <figure data-color="#E24938, #A30F22">
                    <img src="http://localhost:3000/uploads/{{data.image}}" />
                </figure>
                <figure data-color="#6CD96A, #00986F">
                </figure>
                <figure data-color="#4795D1, #006EB8">
                </figure>
                <figure data-color="#292a2f, #131519">

                </figure>
            </div>

            <div class="cta">
                <div class="price">$35</div>
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose Size
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">S</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">XL</a></li>
                        <li><a href="#">XXL</a></li>
                    </ul>
                </div>
            </div>
        </div>




    </div>
   </a> -->
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">

        <div class="mb-3" >
            <ul class="d-flex justify-content-between align-items-center">
                <li>
                    <h2 class="cat-name">Fashion Top Deals</h2>
                </li>
                <li><button [routerLink]="['/Fashion']" mat-raised-button color="accent">view all</button></li>
            </ul>
        </div>



        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col hp" *ngFor="let item of fashion.slice(0, 4)">
                <div class="card h-100 shadow-sm" (click)="viewProduct(item._id)">
                    <a target="_blank">
                        <img src="http://localhost:3000/uploads/{{ item.image }}" class="card-img-top"
                            alt="product.title" />
                    </a>

                    <div class="label-top shadow-sm">
                        <a class="text-dark text-uppercase" style="font-weight: bolder;" target="_blank">{{ item.brand
                            }}</a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-success">{{item.price}}$</span>

                            <span class="float-end"><a
                                    class="small text-muted text-uppercase aff-link">reviews</a></span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank">{{item.description}}</a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <button (click)="addToCart(item , $event)" class="btn btn-warning bold-btn">Add to
                                Cart</button>

                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-start"><a><i class="fas fa-question-circle"></i></a></span>

                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>

                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="card-container mt-5 ">


    <!-- <div class="row  gap-4 justify-content-center">


        <div class="shop-card" *ngFor="let data of Electronics.slice(0,5)">
            <div class="title">
                {{data.name}}
            </div>
            <div class="desc">
                {{data.brand}}
            </div>
            <div class="slider">
                <figure data-color="#E24938, #A30F22">
                    <img src="http://localhost:3000/uploads/{{data.image}}" />
                </figure>
                <figure data-color="#6CD96A, #00986F">
                </figure>
                <figure data-color="#4795D1, #006EB8">
                </figure>
                <figure data-color="#292a2f, #131519">

                </figure>
            </div>

            <div class="cta">
                <div class="price">{{data.price}}</div>
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose Size
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">S</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">XL</a></li>
                        <li><a href="#">XXL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->


    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">

        <div class="mb-3" >
            <ul class="d-flex justify-content-between align-items-center">
                <li>
                    <h2 class="cat-name">Electronics</h2>
                </li>
                <li><button mat-raised-button [routerLink]="['/Electronics']" color="accent">view all</button></li>
            </ul>
        </div>

        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col hp" *ngFor="let item of Electronics.slice(0,4)">
                <div class="card h-100 shadow-sm" (click)="viewProduct(item._id)">
                    <a target="_blank">
                        <img src="http://localhost:3000/uploads/{{ item.image }}" class="card-img-top"
                            alt="product.title" />
                    </a>

                    <div class="label-top shadow-sm">
                        <a class="text-dark text-uppercase" style="font-weight: bolder;" target="_blank">{{ item.brand
                            }}</a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-success">{{item.price}}$</span>

                            <span class="float-end"><a
                                    class="small text-muted text-uppercase aff-link">reviews</a></span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank">{{item.description}}</a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a (click)="addToCart(item , $event)" class="btn btn-warning bold-btn">add to cart</a>

                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-start"><a><i class="fas fa-question-circle"></i></a></span>

                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>

                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="card-container mt-5 ">

    <!-- <div class="row  gap-4 justify-content-center">


        <div class="shop-card" *ngFor="let data of Mobiles.slice(0,5)">
            <div class="title">
                {{data.name}}
            </div>
            <div class="desc">
                {{data.brand}}
            </div>
            <div class="slider">
                <figure data-color="#E24938, #A30F22">
                    <img src="http://localhost:3000/uploads/{{data.image}}" />
                </figure>
                <figure data-color="#6CD96A, #00986F">
                </figure>
                <figure data-color="#4795D1, #006EB8">
                </figure>
                <figure data-color="#292a2f, #131519">

                </figure>
            </div>

            <div class="cta">
                <div class="price">{{data.price}}</div>
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose Size
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">S</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">XL</a></li>
                        <li><a href="#">XXL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->


    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">

        <div class="mb-3" >
            <ul class="d-flex justify-content-between align-items-center">
                <li>
                    <h2 class="cat-name">Mobile</h2>
                </li>
                <li><button mat-raised-button [routerLink]="['/Mobiles']" color="accent">view all</button></li>
            </ul>
        </div>


        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col hp" *ngFor="let item of Mobiles.slice(0,4)">
                <div class="card h-100 shadow-sm" (click)="viewProduct(item._id)">
                    <a target="_blank">
                        <img src="http://localhost:3000/uploads/{{ item.image }}" class="card-img-top"
                            alt="product.title" />
                    </a>

                    <div class="label-top shadow-sm">
                        <a class="text-dark text-uppercase" style="font-weight: bolder;" target="_blank">{{ item.brand
                            }}</a>
                    </div>
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-success">{{item.price}}$</span>

                            <span class="float-end"><a
                                    class="small text-muted text-uppercase aff-link">reviews</a></span>
                        </div>
                        <h5 class="card-title">
                            <a target="_blank">{{item.description}}</a>
                        </h5>

                        <div class="d-grid gap-2 my-4">

                            <a (click)="addToCart(item , $event)" class="btn btn-warning bold-btn">add to cart</a>

                        </div>
                        <div class="clearfix mb-1">

                            <span class="float-start"><a><i class="fas fa-question-circle"></i></a></span>

                            <span class="float-end">
                                <i class="far fa-heart" style="cursor: pointer"></i>

                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>