<!-- <app-header></app-header> -->


<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col hp" *ngFor="let item of Appliances">
            <div class="card h-100 shadow-sm" (click)="viewProduct(item._id)">
                <a target="_blank">
                    <img src="http://localhost:3000/uploads/{{ item.image }}" class="card-img-top"
                        alt="product.title" />
                </a>

                <div class="label-top shadow-sm">
                    <a class="text-dark text-uppercase" style="font-weight: bolder;" target="_blank">{{ item.brand
                        }}</a>
                </div>
                <div class="card-body">
                    <div class="clearfix mb-3">
                        <span class="float-start badge rounded-pill bg-success">{{item.price}}$</span>

                        <span class="float-end"><a href="#"
                                class="small text-muted text-uppercase aff-link">reviews</a></span>
                    </div>
                    <h5 class="card-title">
                        <a target="_blank" href="#">{{item.description}}</a>
                    </h5>

                    <div class="d-grid gap-2 my-4">

                        <a (click)="addToCart(item , $event)" class="btn btn-warning bold-btn">add to cart</a>

                    </div>
                    <div class="clearfix mb-1">

                        <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

                        <span class="float-end">
                            <i class="far fa-heart" style="cursor: pointer"></i>

                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- <app-footer></app-footer> -->

