<footer>
    <section>    
        <div id="containerFooter">
            
            <div id="webFooter">
                <h3> online store </h3>
                <p> men clothing </p>
                <p> women clothing </p>
                <p> men accessories </p>
                <p> women accessories </p>
            </div>
            <div id="webFooter">
                <h3> helpful link </h3>
                <p> home </p>
                <p> about </p>
                <p> contact </p>
            </div>
            <div id="webFooter">
                <h3> partners </h3>
                <p> zara </p>
                <p> pantaloons </p>
                <p> levis </p>
                <p> ucb </p>
                <p> + many more </p>
            </div>
            <div id="webFooter">
                <h3> address </h3>
                <p> building 61 </p>
                <p> central avenue </p>
                <p> la - 945722 </p>
                <p> united states </p>
            </div>
        </div>
       
    </section>

</footer>